*.pyc
.idea/
.DS_Store
*.ipynb
.ipynb_checkpoints/
!data/*.mod
.mod
.hdf5
.h5
.pkl
!modfile/README.md
~$*
raw_data
modfile
raw_data
!data/README.md
corpus
venv
models
corpus
*.hdf5
models/
input/
data/
